# Dépendances : réinstallées dans le conteneur par "composer install"
vendor

# Fichiers de cache/logs générés par Symfony
var


.env
.env.local
.env.test
.env.*.local
config/jwt

# Divers
.git
.gitignore
