# .env.dist — valeurs par défaut embarquées dans l'image pour éviter l'exception de symfony lors de la
# création de l'image
# Pourquoi ce fichier existe :
#

###> symfony/framework-bundle ###
APP_ENV=prod
APP_DEBUG=0
APP_SECRET=changeme
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle ###
DATABASE_URL="mysql://root@db:3306/playdex?serverVersion=8.4&charset=utf8mb4"
###< doctrine/doctrine-bundle ###

###> nelmio/cors-bundle ###
CORS_ALLOW_ORIGIN='^https?://.*$'
###< nelmio/cors-bundle ###

###> External API keys ###
STEAM_API_KEY=
STEAM_USERNAME=
STEAM_PASSWORD=
IGDB_ACCESS_TOKEN=
TWITCH_CLIENT_ID=
###< External API keys ###

###> JWT Token ###
JWT_SECRET_KEY=%kernel.project_dir%/config/jwt/private.pem
JWT_PUBLIC_KEY=%kernel.project_dir%/config/jwt/public.pem
JWT_PASSPHRASE=changeme
###< JWT Token ###

LOCK_DSN=flock
